.monocle-ui-main-panel.main-code-editor {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "editor syntax-tree";
    gap: 1em;
    height: 100%;
    width: 100%;
    align-content: space-between;
}

.monocle-ui-main-panel.main-code-editor > .editor-with-menu {
    grid-area: editor;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.monocle-ui-main-panel.main-code-editor > .editor-with-menu .menu-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1ex 0;
}

.monocle-ui-main-panel.main-code-editor > .syntax-tree {
    grid-area: syntax-tree;
    overflow-y: auto;
}
