body {
    background-color: #FAFAFA;
}

#lorgnette-playground-app {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.lorgnette-playground {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    width: 100%;
    padding: 1em;
    align-content: space-between;
    font-size: 0.9em;
}

.lorgnette-playground .menu-bar {
    display: flex;
    justify-content: space-between;
    gap: 1ex;
}

.lorgnette-playground .menu-bar label {
    margin: 0;
}

.lorgnette-playground .menu-bar label > * {
    margin: 0 0 0 1ex;
}

.lorgnette-playground .menu-bar .language-selector {
    display: inline-block;
}

.lorgnette-playground .menu-bar .example-selector {
    flex-grow: 1;
}

.lorgnette-playground .menu-bar .show-syntax-tree-checkbox {

}

.lorgnette-playground .panel-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.lorgnette-playground .code-editor-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.lorgnette-playground .code-editor-panel .status-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5ex 1ex;
    font-size: 0.8em;
    /* background-color: rgba(0, 0, 0, 0.05); */
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* border-top: none; */
}

.lorgnette-playground .code-editor-panel .status-bar .active-projections-information ul,
.lorgnette-playground .code-editor-panel .status-bar .active-projections-information li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.lorgnette-playground .code-editor-panel .status-bar .active-projections-information li {
    margin: 0 1ex 0 0;
    padding: 2px 4px;
    background-color: rgba(255, 255, 0, 0.25);
    border: 1px solid rgba(127, 127, 0, 0.25);
    border-radius: 2px;
    list-style: none;
}

.lorgnette-playground .code-editor-panel .status-bar .active-projections-information li:last-child {
    margin: 0;
}

.lorgnette-playground .code-editor-panel .status-bar .cursor-position {
    font-family: monospace;
}

.lorgnette-playground .syntax-tree-panel {
    /* grid-area: syntax-tree; */
    overflow-y: auto;
}

.lorgnette-playground .gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}

.lorgnette-playground .gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: col-resize;
}