.syntax-tree {
    font-size: 0.8em;
}

.syntax-tree .syntax-tree-node {
    padding: 0.25ex 0 0.25ex 1em;
    background-color: rgba(0, 0, 0, 0.015);
    border-width: 1px 0 1px 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.05);
}

.syntax-tree .syntax-tree-node.contains-cursor {
    background-color: rgba(255, 255, 0, 0.015);
    border-color: rgba(100, 100, 0, 0.40);    
}
/* 
.syntax-tree .syntax-tree-node.contains-cursor:hover {
    background-color: rgba(255, 255, 0, 0.01);
    border-color: rgba(100, 100, 0, 0.55);    
} */

.syntax-tree .syntax-tree-node:hover .syntax-tree-node:hover {
    background-color: rgba(0, 255, 0, 0.01);
    border-color: rgba(0, 100, 0, 0.25);
}

.syntax-tree .syntax-tree-node:hover .syntax-tree-node:not(:hover) {
    opacity: 0.8;
}

.syntax-tree .syntax-tree-node + .syntax-tree-node {
    margin: 0.5ex 0 0 0;
}

.syntax-tree .syntax-tree-node .syntax-tree-node-data {
    display: flex;
}

.syntax-tree .syntax-tree-node .type {
    flex-grow: 1;
    font-family: monospace;
}

.syntax-tree .syntax-tree-node .range {
    flex-grow: 0;
    font-family: monospace;
}

.syntax-tree .syntax-tree-node .range * {
    color: #666;
}

.syntax-tree-message {
    padding: 1ex;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.syntax-tree-message.no-parser {
    background-color: #ffdc18;
    color: #646430;
}

.syntax-tree-message.parsing-error {
    background-color: #f6baa9;
    color: #5f2e1f;
}

.syntax-tree-message.parsing-error .parsing-error-message {
    max-width: 100%;
    font-size: 0.8rem;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}