/* Small diagram */

.regex-diagram.small {
    position: relative;
    overflow: hidden;
    width: 30vw;
}

.regex-diagram.small .iframe-container iframe {
    border: none;
    transform-origin: 0 0;
    z-index: 100;
}

.regex-diagram.small + .regex-diagram-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.regex-diagram.small + .regex-diagram-overlay:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: zoom-in;
}




/* Large diagram */

.regex-diagram.large {
    width: 80vw;
    height: 100%;
}

.regex-diagram.large .iframe-container iframe {
    border: none;
    transform-origin: 0 0;
}




/* Popup editor */

.regex-popup-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.regex-popup-content-panel {
    background-color: #EEE;
    padding: 1em;
}

.regex-popup-content-panel,
.regex-popup-content-panel * {
    z-index: 1000;
}

.regex-popup-content-panel .regex-editor {
    display: flex;
    flex-direction: row;
    margin: 0 0 1em 0;
}

.regex-popup-content-panel .regex-editor .regex-body {
    flex-grow: 3;
    margin-right: 1em;
}

.regex-popup-content-panel .regex-editor .regex-flags {
    flex-grow: 1;
}