.list {
    height: 100%;
    background-color: #FFF;
    border: 2px solid #999;
}

.list-element {
    width: 100%;
    border-bottom: 1px solid #999
}

.list-add-entry-element {
    width: 100%;
    padding: 1em;
    text-align: center;
}

.list-add-entry-element button {
    width: 100%;
}