.code-fragment-thumbnail {
    padding: 1ex;
    background-color: #FFF;
    cursor: pointer;
}

.code-fragment-thumbnail:hover {
    background-color: #EEE;
}

.code-fragment-thumbnail .code-fragment-name {
    margin: 0;
    font-size: "1.1rem";
    font-weight: bold;
}

.code-fragment-thumbnail .code-fragment-type {
    color: #999;
    user-select: none;
}
