body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
}

#lorgnette-vscode-editor-app {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
