/* Popover renderers */

.code-visualisation-popover-wrapper {
    position: absolute;
    /* z-index: 200; */
}

.code-visualisation-popover-wrapper > button.bp4-button,
.code-visualisation-popover-wrapper > button.bp4-button:active,
.code-visualisation-popover-wrapper > button.bp4-button.bp4-active,
.code-visualisation-popover-wrapper > button.bp4-button:hover {
    display: block;
    min-width: auto;
    min-height: auto;
    margin: 0;
    padding: 0 0.5ex;
    background: none;
    border: 1px solid #aaa;
    outline: none;
    box-shadow: none;
    color: #aaa;
    font-family: monospace;
    font-size: 0.9em;
}

.code-visualisation-popover-wrapper > button.bp4-button > span {
    display: inline-block;
}

.code-visualisation-popover-wrapper > button.bp4-button:hover,
.code-visualisation-popover-wrapper > button.bp4-button:active,
.code-visualisation-popover-wrapper > button.bp4-button.bp4-active {
    background: #eee;
    border: 1px solid #888;
    color: #666;
}

.code-visualisation-popover-content-wrapper {
    padding: 10px;
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    box-shadow: 0 0 10px rgba(120, 120, 120, 0.4);
    z-index: 500;
}




/* Popup renderers */


.code-visualisation-popup-wrapper {
    position: absolute;
    /* z-index: 200; */
}

.code-visualisation-popup-wrapper > button.bp4-button,
.code-visualisation-popup-wrapper > button.bp4-button:active,
.code-visualisation-popup-wrapper > button.bp4-button.bp4-active,
.code-visualisation-popup-wrapper > button.bp4-button:hover {
    display: block;
    min-width: auto;
    min-height: auto;
    margin: 0;
    padding: 0 0.5ex;
    background: none;
    border: 1px solid #aaa;
    outline: none;
    box-shadow: none;
    color: #aaa;
    font-family: monospace;
    font-size: 0.9em;
}

.code-visualisation-popup-wrapper > button.bp4-button > span {
    display: inline-block;
}

.code-visualisation-popup-wrapper > button.bp4-button:hover,
.code-visualisation-popup-wrapper > button.bp4-button:active,
.code-visualisation-popup-wrapper > button.bp4-button.bp4-active {
    background: #eee;
    border: 1px solid #888;
    color: #666;
}

.code-visualisation-popup-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 800;
}

.code-visualisation-popup-content-panel {
    max-width: calc(100vw - 50px);
    max-height: calc(100vh - 50px);
    padding: 2em;
    overflow: auto;
    background-color: #eee;
    border: 2px solid #ccc;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.code-visualisation-popup-content-panel * {
    z-index: 1000;
}


/* Aside renderers */

.code-visualisation-aside-wrapper {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    z-index: 500;
}

.code-visualisation-aside-wrapper.hidden {
    display: none;
}