.ui.plot-style-editor {
    /* background-color: rgba(0, 0, 0, 0.05); */
    padding: 1em;
}

.ui.plot-style-editor .property-editor {
    /* display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "label editor"; */
    display: flex;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.05); */
}

.ui.plot-style-editor .property-editor .label {
    /* grid-area: label; */
    flex-grow: 1;
    min-width: 80px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.ui.plot-style-editor .property-editor .editor {
    /* grid-area: editor; */
    flex-grow: 3;
    text-align: right;
}

.ui.plot-style-editor .property-editor .preview {
    display: none;
}

.color-picker-popover {
    padding: 2px;
    background-color: #000;
    border-radius: 10px;
}

.ui.plot-style-editor .property-editor .color-preview {
    height: 1.5em;
    width: 2.8em;
    border: 1px solid rgba(0, 0, 0, 0.8);
}