name: build-and-publish-playground

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # This key is required to enable manual triggers of this workflow.
  workflow_dispatch:

jobs:
  build-update-deploy-extension:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout the source code from the repository
      uses: actions/checkout@v3

    - name: Setup the development environement
      uses: actions/setup-node@v3
      with:
        node-version: "21"

    - name: Install all the dependencies
      run: yarn

    - name: Commit files to the CI branch (1)
      run: |
        git config --local user.name "github-action"
        git config --local user.email "<>"
        git rm -rf .
    
    - name: Build the playground
      run: yarn run build

    # Note: the 'git rm -rf .' command is required because we are pushing to an orphan branch.
    # If the command is not used, all the files from the 'master' branch are staged and pushed.
    - name: Commit files to the CI branch (2)
      run: |
        git checkout HEAD -- ./src/apps/playground/dist
        git add -f ./src/apps/playground/dist
        git commit -m "Update the playground"
    
    - name: Push the commit to the CI branch
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: "lorgnette-ci"
        force: true